.skills-content {
  @include bg($skills-color);
  .bottom-portfolio {
    @include block($portfilio-color,0);
  }
}
.skills-wrap {
  color: #ffffff;
  margin-top: 2%;
  text-align: center;
  font-size: $size-text;
  .also {
    text-align: left;
    ul {
      list-style: none;
      li {
        float: left;
        padding-right: 15px;
      }
    }
  }

}
.circle {
  @include respond-to(wide-screens) {
    canvas {
      height: 130px!important;
      width: 130px!important;
    }
  }
  padding-bottom: 15%;
  p {
    padding-top: 5%;
  }
}