$imgPath: '../img/';
$home-color:#334960;
$about-color:#f17c72;
$skills-color:#7f4c76;
$portfilio-color:#32ac97;
$contact-color:#3f9fc9;
$size-text:18px;
$hover-about-color:#e6655e;
$hover-portfolio-color:#46dcc7;
$hover-skills-color:#b288ab;
$hover-contact-color:#37637f;
$before-link-color:#067F6B;
$hover-link-color:#54C3B0;
$dark-text-color:#39596e;
$xlarge:1600px;
$large:1300px;
$medium:992px;
$small:768px;
$xsmall:320px;

