.section.vertical-scrolling(data-anchor="contact")
    .contact-content
        .container
            .title Get in touch
            .row
                .col-lg-8
                    input(type='text' placeholder="Your name")
                    input(type='text' placeholder="E-Mail")
                    input(type='text' placeholder="the subject")
                    input(type='textarea' class='message' placeholder="your message")
                .col-lg-4.contact-details
                        p contact details
                            .icons
                                .icon
                                    a(href='#')
                                        .img-icon
                                            img(src=imgPath+"phone-call.png")
                                        p +380638788225
                                .icon
                                    a(href='#')
                                        .img-icon
                                            img(src=imgPath + "paper-plane.png")
                                        p d.o.perfilieva@gmail.com

                                .icon
                                    a(href='#')
                                        .img-icon
                                            img(src=imgPath + "avatar-1.png")
                                        p vk.com

                                .icon
                                    a(href='#')
                                        .img-icon
                                            img(src=imgPath + "like.png")
                                        p fb.com

            .row
                .col-lg-3
                    input(type='submit' class='submit')
            .row
                .col-lg-6
                    p.
                        Aenean urna tortor, rutrum nec orci a, ullamcorper suscipit lacus. Aliquam vel mi non augue facilisis bibendum. Integer ut dictum justo.
                    a(href="#")
                        p Play games
                .col-lg-6
                    p.
                        Aenean urna tortor, rutrum nec orci a, ullamcorper suscipit lacus. Aliquam vel mi non augue facilisis bibendum. Integer ut dictum justo.
                    a(href="#")
                        p Do you like my portfolio?
