include ../inc/_mixins
.section.vertical-scrolling(data-anchor="home")
    .header
        .main-title
            .title-text
                p I'm Dasha Perfilieva
            .dev-text
                p Front end Developer
        +block('about')


