include ../inc/_mixins
header
    a(id="navbar-toggle")
        span
    .menu
        ul
            +menu('Home','home')
            +menu('About Me','about')
            +menu('Skills','skills')
            +menu('Portfolio','portfolio')
            +menu('Contact','contact')
    .main-title
        .title-text
            p I'm Dasha Perfilieva
        .dev-text
            p Front end Developer
    +block('about')


