include ../inc/_mixins
.skills-content
    .container
        .skills-wrap
            .title My skills
            #skills-pgr
                .row
                   +progres('html/css','first')
                   +progres('photoshop','second')
                   +progres('sass','third')
                   +progres('pug','four')
                .row
                   +progres('javascript','five')
                   +progres('wordpress','six')
                   +progres('php','seven')
                   +progres('yii2','eight')

