doctype html
html(lang="ru")
    head
        include ./inc/_head
        include ./inc/_mixins

    body
        include ./inc/_header
        include ./inc/_about
        include ./inc/_skills

    include ./inc/_scripts